<h1 class="header"></h1>

<div class="search">
<%= simple_form_for :querry, url: root_path, method: :get, html: { class: 'form-inline' } do |f| %>
  <%= f.input :search, label: false %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <%= link_to "delete filters", root_path, class: "btn btn-secondary" %>

<% end  %>
</div>

<div class="cards w-100">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-4">
        <div class="card zoom-in">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <% if cocktail.photo.present? %>
              <%= cl_image_tag cocktail.photo.key, height: 300, width: 300, crop: :fill %>
            <% end  %>
            <%= link_to "voir #{cocktail.name }", cocktail_path(cocktail), class:"btn btn-primary" %>
            <%= link_to "Delete", cocktail_path(cocktail), method: :delete, class:"btn btn-danger", data: { confirm: "Are you sure ? "} %>
          </div>
        </div>
      </div>
    <% end  %>
  </div>
</div>



